html {
  @include transition(all, 150ms, ease-in);
  opacity: 1;
}

body{
  >header{
    z-index:20;
    background: $header-background;
    color:$header-color;
    hr{
      border-color:$header-color;
    }
    *{
      color:inherit;
    }
  }
  > footer{
    z-index:15;
    background: $footer-background;
    color:$footer-color;
    hr{
      border-color:$footer-color;
    }
    *{
      color:inherit;
    }
  }
}