html{
  -webkit-transition: all $fast-easing ease-in;
  -moz-transition: all $fast-easing ease-in;
  -ms-transition: all $fast-easing ease-in;
  -o-transition: all $fast-easing ease-in;
  transition: all $fast-easing ease-in;
  opacity:1;
}