.basic-slider{
  max-height:600px;
  overflow:hidden;
  position:relative;
  .slick-slide{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  li{
    list-style: none;
  }
  ul{
    margin:0;
    li{
      float:left;
      img{
        width:100%;
      }
      h2{
        position:absolute;
        bottom:0;
        left:0;
      }
    }
  }
}