$topbar-left-flyout-logo-color:$primary-color;
$topbar-left-flyout-topbar-color:white;
$topbar-left-flyout-topbar-link-color:$primary-color;
$topbar-left-flyout-leftbar-color:$primary-color;
$topbar-left-flyout-leftbar-link-color:white;
$topbar-left-flyout-overlay-color:rgba(0,0,0,0.8);
.topbar-left-flyout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  background: $topbar-left-flyout-topbar-color;
  border-bottom: 1px solid #DEDFE0;
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    a {
      color: $topbar-left-flyout-logo-color;
      text-decoration: none;
      text-align: center;
      font-size: 150%;
      line-height: 52px;
    }
  }
  .action-menu {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    height: 52px;
    min-width: 52px;
    color: $topbar-left-flyout-topbar-link-color;
    text-decoration: none;
    font-size: 150%;
    line-height: 48px;
    padding: 12px;
  }
  nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: -320px;
    @include transition(all, 150ms, ease-out);
    width: 300px;
    height: 100%;
    background: $topbar-left-flyout-leftbar-color;
    padding-top: 50px;
    ul {
      padding: 40px;
      li {
        list-style: none;
        h3{
          color:$topbar-left-flyout-leftbar-link-color;
        }
        a {
          width: 100%;
          float: left;
          height: 52px;
          padding: 5px;
          color: $topbar-left-flyout-leftbar-link-color;
          text-decoration: none;
        }
      }
    }
  }
  .overlay {
    z-index: 990;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include transition(opacity, 150ms, ease-in);
    background: black;
    background: $topbar-left-flyout-overlay-color;
  }
  &.active {
    nav {
      left: 0;
      @include transition(all, 150ms, ease-in);
    }
    .overlay {
      opacity: 1;
      left: 0;
      @include transition(opacity, 150ms, ease-in);
    }
  }
}

.admin-bar {
  .topbar-left-flyout, .topbar-left-flyout nav {
    top: 28px;
  }
}